@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');

body{
  margin:15px;
  font-family: 'M PLUS 1p', sans-serif;
}

.canvas-wrap{
  display: flex;
  position : relative;
}

.canvas{
  background-color: #f8f8f8;
  background-size: contain;
}

#pieces-storage{
  top: 0px;
  left : 0px;
  width : 400px;
  height : 600px;
}

#pieces-storage img{
  position:absolute;
}

button , label{
  display : inline-block;
  background-color : #00a2f5;
  color: white;
  font-size: 14px;
  border : none;
  border-radius : 5px;
  width : 140px;
  height: 50px;
  line-height : 50px;
  font-weight : bold;
  text-align : center;
  vertical-align : middle;
}

button:hover, label:hover{
  cursor:pointer;
  background-color: #00537e;
}

/* ファイル選択のラベル非表示 */
label > input{
  display:none
}