
.canvas{
  background-color: #f8f8f8;
  background-size: contain;
}

#pieces-storage{
  position : relative;
  width : 600px;
  height : 400px;
}

#pieces-storage img{
  position:absolute;
  z-index: 100;
}